/* .App {
  /* grid-template-areas: 'Header' 'Nav' 'Main' 'Footer'; */
/* grid-template-rows: 100px 50px 1fr 50px; */
/* } */

:root {
  --accent-color: #ba1f31;
  --white: #fff;
  --grey: #202829;
  --lightgrey: #ededed;
}

#main {
  overflow-y: scroll;
  min-height: 60vh;
}

.body {
  font-family: 'Gotham Book';
}

/* .main {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;

} */

/* .main > * {
  padding: 10px;
  flex: 1 100%;
} */

/* .App-header {
  /* background-color: #282c34;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */

.App-link {
  color: #09d3ac;
}

/* @media (min-width: 768px) { */
.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 110px 75px 1fr;
}
/* } */
@font-face {
  font-family: 'Gotham Book';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Book'), url('../fonts/GOTHAMBOOK.woff') format('woff');
}

@font-face {
  font-family: 'Gotham Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Bold'), url('../fonts/GOTHAMBOLD.woff') format('woff');
}

ul {
  list-style: none;
}
