.article-card {
  margin: 20px;
  box-shadow: 0 4px 20px 0px gray;
  background-color: var(--lightgrey);
  border-radius: 10px;
}

.article-card-top {
  background-color: var(--accent-color);
  border-radius: 10px 10px 0px 0px;
  padding: 30px 30px 0px 30px;
}

.card-header {
  display: flex;
  color: white;
}
.card-header p {
  margin: 0px 30px 0px 0px;
}
.article-card-top a {
  color: var(--white);
}

.card-body {
  display: inline-block;
  text-align: left;
  height: 4em;
  background-image: linear-gradient(white, #e5e5e5);
  color: #565656;
  padding: 10px;
  border-radius: 10px 10px 0px 0px;
  margin: 10px 10px 0px 10px;
}

.card-footer {
  display: flex;
  justify-content: flex-start;
  background-color: white;
  padding: 10px;
  align-items: center;
}
.card-footer button {
  margin: 12px;
}

.votes {
  display: flex;
  justify-content: flex-start;
}

a {
  text-decoration: none;
  color: black;
}
