.article-card {
  margin: 10px;
  border: solid purple 1px;
}

.article-card:hover {
  cursor: pointer;
}

.card-body {
  display: inline-block;
  text-align: left;
  height: 4em;
  border: solid brown 1px;
  margin: 10px;
}

a {
  text-decoration: none;
  color: black;
}
