.comment-card {
  padding: 40px 20px 0px 20px;
  text-align: left;
  margin: 0px 20px 0px 20px;
}

.user-comment {
  color: var(--accent-color);
}

.comment-header {
  display: flex;
}
.comment-header span {
  margin: 0 20px 0 0;
}
.comment-footer {
  padding: 10px;
}
