#header {
  grid-area: 'Header';
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  color: white;
  background-color: var(--grey);
  z-index: 10;
}

h1 {
  font-family: 'Gotham Bold';
  font-weight: 300;
  margin: 25px;
}

#logo {
  height: 70px;
  margin: 20px;
}

#logo-div {
  display: flex;
}

.user {
  width: 20px;
  height: 27px;
  filter: invert(100);
}

.login {
  margin: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.tags {
  color: #ba1f31;
}

.login-item {
  margin: 10px;
}
